/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/* nav related style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 210px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 25x;
    font-weight: 700;
    padding: 15px 34px;


}

.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    color: #474747;

}

nav li {
    list-style: none;
    margin-right: 50px;

}

/* head style */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-discription {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-content {
    max-width: 500px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin: 130px;
}

/* about section */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 150px;
    margin: 120px 0;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#What-i-do-description {
    margin: 30px 150px;
}

/* skill related style */
.skill-container {
    display: flex;
}

.skill {
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

/* resume related style */
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}


.resume-coloum-title {
    color: var #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 70px;
}
.resume-item-institute,.resume-item-description{
    color: #757575;
}
.resume-item-institute{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px ;
}
.resume-item-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}
    
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* Footer style */
footer{
    display: flex;
    background-color: #FFF8F3;
    margin-top: 100px;
    gap: 100px;
    padding: 130px 200px;
}

.footer-coloum{
    width: 50%;
}
.section-description{
    text-align: left;
}
.social-links a{
    margin-right: 25px;
}
.contact input[type="text"],.contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 320px 18px 25px;
    border-radius: 5px;
    background: #FFF;
    color: #757575;
    font-size: 16px;
    border: 0;
    
}
textarea{
    width: 461px;
    height: 180px;
    resize: none;
}
